.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin:auto;
    margin-top: 15px;
    border-radius: 20px;
    border: 2px solid rgb(161, 159, 159);
    color: white;
    background: rgb(65,65,196);
    background: linear-gradient(187deg, rgba(65,65,196,1) 38%, 
                                        rgba(14,189,245,1) 83%,
                                        rgba(4,213,255,1) 100%);

}

h1{
    margin-top: .7rem;
    padding: .4rem 10%;
}
